/* #1a1d23 - colour */

* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
  }
  
body {
    background: #2b323c;
    width: 100%;
    height: 100%;
}

/* BACKGROUND */
canvas {
    display: block;
}

#background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    z-index: 0;
}

#background {
    width: 100%;
    height: 100%;
    display: block;
}

/* NAVBAR */
  .navigation {
    position: fixed;
    width: 60px;
    height: 100%;
    background: #1a1d23;
    transition: 0.5s;
    overflow: hidden;
    border-top-right-radius: 20px;
  }

.navigation:hover {
  width: 300px;
}

.navigation .buttonContainer {
    position: absolute;
    width: 100vh;
    height: 100vh;
}

.navigation .buttonContainer .topButton {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation .buttonContainer .topButton:hover {
    background: #787ba3;
}

.navigation .buttonContainer .topButton a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.navigation .buttonContainer .topButton a .icon {
    position: relative;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation .buttonContainer .topButton a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation .buttonContainer .spanishButton {
    width: 100vh;
    list-style: none;
    position: absolute;
    bottom: 0;
}

.navigation .buttonContainer .spanishButton:hover {
    background: #787ba3;
}

.navigation .buttonContainer .spanishButton a {
    position: relative;
    width: 100vh;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: white;
}

.navigation .buttonContainer .spanishButton a .icon {
    position: relative;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation .buttonContainer .spanishButton a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}


/* INDEX TEXT */
.header1 {
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
  
h1 #typewriter1 {
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    font-size: 65px;
    max-width: auto;
    margin-bottom: 80px;
}

h1 #typewriter2 {
    position: fixed;
    margin-top: 40px;
}

h1 #typewriter3 {
    font-size: 40px;
    position: fixed;
    margin-top: 120px;
}

h1 #typewriter4 {
    font-size: 20px;
    position: fixed;
    margin-top: 440px;
}

.header1 .arrow {
    display: flex;
    color: white;
    max-width: 100px;
    font-size: 100px;
    overflow: hidden;
}



  
      