/* #1a1d23 */

* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
  }
  
  body {
      background: #2b323c;
  }

  .navigation {
    position: fixed;
    width: 60px;
    height: 100%;
    background: #1a1d23;
    transition: 0.5s;
    overflow: hidden;
    border-top-right-radius: 20px;
  }

.navigation:hover {
  width: 300px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li:hover {
    background: #787ba3;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.header1 {
    display: flex;
    flex-direction: column;
    color: white;
    height: 98vh;
    align-items: center;
    justify-content: center;
}
  
h1 #typewriter1 {
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    font-size: 65px;
    max-width: 450px;
    margin-bottom: 40px;
}

h1 #typewriter2 {
    position: fixed;
    margin-top: 50px;
}

h1 #typewriter3 {
    font-size: 40px;
    position: fixed;
    margin-top: 140px;
}

h1 #typewriter4 {
    font-size: 20px;
}

.header1 .arrow {
    display: flex;
    color: white;
    max-width: 100px;
    font-size: 100px;
    overflow: hidden;
}


  
      