@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.typewriter {
    font-size: 80px;
}

.typewriter:after {
    content: '';
    color: white;
    animation:write 10s linear;
    animation-fill-mode: forwards;
}

@keyframes write {

    1% {
        content: '';
    }

    2% {
        content: '|';
    }

    3% {
        content: '';
    }

    4% {
        content: '|';
    }

    5% {
        content: 'H|';
    }

    6% {
        content: 'Hi|';
    }

    7% {
        content: 'Hi!|';
    }

    8% {
        content: 'Hi! |';
    }

    9% {
        content: 'Hi! I|';
    }

    10% {
        content: "Hi! I'm|";
    }

    11% {
        content: "Hi! I'm A|";
    }

    12% {
        content: "Hi! I'm Ad|";
    }

    13% {
        content: "Hi! I'm Adr|";
    }

    14% {
        content: "Hi! I'm Adri|";
    }

    15% {
        content: "Hi! I'm Adria|";
    }

    16% {
        content: "Hi! I'm Adrian|";
    }

    17% {
        content: "Hi! I'm Adrian.|";
    }
}